/*DOCUMENTO CSS*/
/*******************/
/***** I FONTS *****/
/*******************/
@font-face
{
font-family: forque;
src: url('fonts/Forque.eot');
src: url('fonts/Forque.eot?#iefix') format('embedded-opentype'),
url('fonts/Forque.ttf')  format('truetype'), 
url('fonts/Forque.ttf'),
url('fonts/Forque.woff') format('woff');
}

@font-face
{
font-family: bodonitown;
src: url('fonts/Bodonitown.eot');
src: url('fonts/Bodonitown.eot?#iefix') format('embedded-opentype'),
url('fonts/Bodonitown.ttf')  format('truetype'), 
url('fonts/Bodonitown.ttf'),
url('fonts/Bodonitown.woff') format('woff');
}
/***************************************************/

* { 
margin: 0; 
padding: 0; 
}

html, body {
text-align: center;
}

body {
background-image:url("img/backmenu.png");
overflow-x: hidden;
}

#head {
text-align:left;
height: 175px;
width:100%;
background: url("img/foodcollage.jpg");
border-bottom: 1px solid black;
}

img.footerlogo {
margin-top:30px;
margin-left:15px;  
}

div#headcontent {
width:100%;
background-image:url("img/backhead.png");
margin-top: 2px;
}

div#slider {
width: 100%;
height: inherit;
background-color: rgba(0, 0, 0, 0.65);
display:none;
}

table.menu {
text-align: center;
font-size: 21px;
position:relative;
font-family:forque;
margin-bottom: -2px;
}

td.menu {
padding: 5px;
padding-right:15px;
padding-left:15px;
background-color: transparent;
-webkit-transition: 0.3s linear;
-o-transition:0.3s linear;
-moz-transition:0.3s linear;
}

td.menu:hover {
color:#F2EE76;
background-color: #AB3F36;
text-shadow: 2px 2px 0 black, -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black, 1px 1px 0 black;
}

td#selected {
color:#BCB95C;
background-color: #541E1A;
text-shadow: 2px 2px 0 black, -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black, 1px 1px 0 black;
}

a.menu{
text-decoration:none;
color:inherit;
}

p.footerlinks {
font-family:bodonitown;
word-spacing: 3px;
font-size: 14px;
position: relative;
right: 24px;
top: -10px;
}

div.footercontent {
text-align: right;
}

a.footerlink {
text-decoration:none;
color:black;
}  

a.footerlink:hover {
text-decoration:underline;
}

h1.wellcome {
    color: white;
    font-family: bodonitown;
    font-size: 80px;
    padding-top: 65px;
}

p#wellcome {
color:White;
margin-left: 68px;
margin-right: 68px;
font-size: 36px;
display:none;
}

img.textlogo {
height: 222px;
width: 300px;
margin-top:20px;
margin-left:30px;
margin-right:10px;
}   

img.dlogo {
height: 56px;
width: 76px;
margin-top:20px;
margin-left:30px;
margin-right:20px;
}  

img.photogallery {
height: 222px;
width: 300px;
margin-top:20px;
margin-left:10px;
margin-right:10px;
}

p.content {
font-size:20px;
font-family:bodonitown;
margin-right:30px;
margin-left:30px;
}

h1.content {
margin-left:30px;
font-family:bodonitown;
padding-top:20px;
}

h2.content {
margin-left:30px;
font-family:bodonitown;
padding-top:20px;
margin-right: 30px;
}

h3.content {
font-family:bodonitown;
background-image:url("img/icon_plus.png");
background-repeat:no-repeat;
padding-bottom: 5px;
padding-left:35px;
overflow:hidden;
}

div.dcontainer
{
    background-color:#CCCCC9;
    margin-left:30px;
    margin-right:30px;
}

.dropdown {
width: 180px;
height: 32px;
}

span.dbutton{
padding:0px 30px 0px 30px;
background-color: #1C7A13; /*#d63105*/
font-size:163%;
color: white;
font-family: forque;
text-shadow: 2px 2px 0 black, -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black, 1px 1px 0 black;
float: right;
-webkit-transition: 0.3s linear;
-o-transition: 0.3s linear;
-moz-transition: 0.3s linear;
}

span.dbutton:hover
{
    background-color:#12490B;
}

#dettagli
{
    margin-left:70px;
    background-color: #CCCCC9;
    font-family:bodonitown;
    display:none;
    margin-bottom:20px;
}

td.dettagli
{
    padding-right:190px;
    padding-bottom:45px;
}

#requisiti
{
    margin-left:70px;
    background-color: transparent;
    border: 1px solid #CCCCC9;
    font-family:bodonitown;
    display:none;
    margin-bottom: 20px;
}

#linkutili
{
    margin-left:70px;
    background-color: transparent;
    border: 1px solid #CCCCC9;
    font-family:bodonitown;
    display:none;
    margin-bottom: 20px;
}

.riquadro
{
   background-color: transparent;
   border: 1px solid #CCCCC9;
   font-family:bodonitown; 
   display:inline-block;
   margin-right:30px;
   margin-left:30px;
   font-size: 17px;
}

#istruzioni
{
    margin-left:70px;
    background-color: #CCCCC9;
    font-family:bodonitown;
    display:none;
    margin-bottom: 20px; 
    margin-right: 30px;
}

a.ulink
{
    text-decoration:none;
    font-style:italic;
    color:Black;
}

a.ulink:hover
{
    color:#d63105;
}

td.merende
{
    padding:10px;
    background-color:#EEC346;
    text-align:center;
    cursor: pointer;
    border: 1px solid #BC9938;
}

td.prezzi
{
    padding:10px;
    background-color:#6AA56D;
    text-align:center;
    cursor: pointer;
    border: 1px solid #527F55;
}

.head
{
    background-color:#CCCCC9;
    text-align:center;
    padding:10px;
    cursor: pointer;
    border: 1px solid #A8A8A6;
}

.head:hover
{
    background-color:#A8A8A6;
}

td.prezzi:hover
{
    background-color:#527F55;
}

td.merende:hover
{
    background-color:#BC9938;
}

div.tabella
{
margin-left: 30px;
margin-right: 30px;
text-align: center;
box-shadow: 0px 0px 10px 0px white;
-moz-box-shadow:0px 0px 10px 0px white;
-webkit-box-shadow:0px 0px 10px 0px white;
}

.shadow
{
 box-shadow: 0px 0px 20px 0px black;
-moz-box-shadow:0px 0px 20px 0px black;
-webkit-box-shadow:0px 0px 20px 0px black;
}